<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket reservation</title>
</head>
<body>
<form th:action="@{/ticketReservation}" method="post">
    <input type="text" placeholder="whence" name="origin">
    <input type="text" placeholder="whither yyyy-mm-dd" name="departureDate">
    <input type="text" placeholder="destination" name="destination">
    <button>submit</button>
</form>

    <ul>
        <li th:each="fly:${flight}" th:text="${fly}">
        </li>
    </ul>
</body>
</html>